legend {
    font-weight: bold;
    font-size: 20px;
    color: rgb(44,102,102);    
    font-size: 16px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: .03em;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 200px;
    margin-top: 80px;
}

#products-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

input {
    float: right;
    margin-left: 30px;
    width: 200px;
}

.main-container {
    margin: 0;
}

#remove-button {
    background-color: rgb(36, 153, 153);
    height: 40px;
    margin: 150px 30px auto 10px;
}

#remove-button:hover {
    opacity: 0.6;
    background-color: rgb(155, 72, 34);
    color: white;
}