body {
    height: 100%;
    display: flex;
}

ul {
    flex: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

li {
    display: flex;
    padding: 5px 30px 20px 30px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(184, 162, 148);
    color: white;
    width: 23%;
    min-width: 200px;
    margin: 30px 10px;
    list-style-type: none;
}


img {
    width: 100px;
 }

h3 {
    font-size: 1.6em;
}

.add-button {
    padding: 10px;
    background-color: rgb(145, 52, 9);
    color: rgb(235, 228, 224);
    border-radius: 5px;
    border: none;
    opacity: 0.8;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.add-button:hover {
    opacity: 0.6;
    background-color: rgb(36, 153, 153);
    color: white;
}