table {
    width: 100%;
    color: rgb(44, 102, 102);
    margin-bottom: 50px;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin-left: 160px;
    margin-top: 60px;
}

#sidebar-cart {
    height: 100vh;
}

th {
    height: 50px;
    padding: 20px;
    border-bottom: 1px solid rgb(99, 51, 19);
    background-color: rgb(99, 51, 19);
    color: rgb(235, 228, 224);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: .03em;
}

.product-heading {
    text-align: left;
    font-weight: bold;
}

td {
    padding: 15px;
    border-bottom: 1px solid rgb(99, 51, 19);
    text-align: center;
}

#order-total-text, 
#order-total-cell {
    text-align: right;
    font-weight: bold;
    background-color: rgb(166, 196, 194);
    color: rgb(233, 228, 223);
}

tr:hover {
    background-color: rgb(212, 198, 188);
}

#order-button {
    background-color: rgb(166, 196, 194);
}

#order-button:hover {
    background-color: rgb(44, 102, 102);;
}